html,body
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin:0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    overflow: hidden;
}

.header, h1
{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}


.content
{
    display: flex;
    flex-direction: column;
    flex:1;
    border: 5px solid grey;
    overflow: auto;
    margin:  10px;
    background-color: darkgray;

}

a, .tvShow
{
    display: flex;
    flex-direction: row;
    color: #333; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement des liens */
    margin: 3px;
}

a
{
    margin: 3px;
    border: black 1px solid;
}

.footer
{

    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

